/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* line-height: 58px; */
}

/* common css end */

/* navabr css start */

/* .navbar .navbar-nav {
    margin: auto;
} */

.navbar {
    padding: 16px 0px;
    background-color: #1C1E53;
    align-items: center;
}

.navbar .navbar-nav .nav-item {
    padding-right: 16px;
    padding-left: 16px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #BBBBCB;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.navbar .contact a {
    padding: 16px 48px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #BBBBCB;
    border: 2px solid #BBBBCB;
    border-radius: 41px;
}

.navbar .contact a:hover {
    color: white;
    border: 2px solid white;
}

/* navbar css end */

#ux-case {
    padding-top: 128px;
    padding-bottom: 64px;
}


#ux-case .text {
    margin: auto;
    text-align: center;
}

#ux-case .text h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
    color: #282938;
}

#ux-case .text h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    padding-top: 16px;
    padding-bottom: 32px;
}

#ux-case .text-2 {
    margin: auto;
    text-align: center;
}

#ux-case .text-2 h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    padding-top: 48px;
    padding-bottom: 16px;
}

#ux-case .text-2 a {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #2405F2;
}

#blog .our h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
    margin-bottom: 48px;
    text-align: center;
}

#blog .blog-img-wrapper h5 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    padding-top: 32px;
    margin-bottom: 16px;
}

#blog .blog-img-wrapper h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    margin-bottom: 16px;
}

#blog .blog-img-wrapper h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    margin-bottom: 24px;
}

#blog .read {
    display: flex;
}

#blog .read h4 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #1C1E53;
    margin-bottom: 64px;
}

#footer {
    background-color: #1C1E53;
    padding-top: 96px;
}

#footer .left-text h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 86px;
}

#footer .talk h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #FFFFFF;
}

#footer .talk h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #F4F6FC;
    padding-top: 14px;
    padding-bottom: 28px;
}

#footer .social-media {
    display: flex;
}

#footer .social-media .smdedia {
    color: #fff;
    font-size: 16px;
    margin-right: 27px;
}

#footer .email-call-wrapper {
    display: flex;
    position: relative;
    padding: 18px 137px 16px 38px;
    z-index: 1;
}

#footer .email-call-wrapper::after {
    content: '';
    position: absolute;
    background-color: #FCD980;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#footer .footer-email h3 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #282938;
}

#footer .footer-email h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
}

#footer .footer-call {
    margin-left: 30px;
}

#footer .footer-call h3 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #282938;
}

#footer .footer-call h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
}

#copyright h3 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    padding: 32px 0px;
}

#copyright .footer-ul ul {
    display: flex;
    padding: 32px 0px;
}


#copyright .footer-ul ul li {
    padding-left: 30px;
}

#copyright .footer-ul ul li a {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
}