/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* line-height: 58px; */
}

/* common css end */

/* navabr css start */
.navbar {
    padding: 16px 0px;
}

.navbar {
    background-color: #1C1E53;
    align-items: center;
}

.navbar .navbar-nav .nav-item {
    padding-right: 16px;
    padding-left: 16px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #BBBBCB;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.navbar .contact a {
    padding: 16px 48px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #BBBBCB;
    border: 2px solid #BBBBCB;
    border-radius: 41px;
}

.navbar .contact a:hover {
    color: white;
    border: 2px solid white;
}
/* navbar css end */

#fetures{
    background-color: #1C1E53;
}

#fetures h2{
    font-size: 54px;
    line-height: 74px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 167px;
    padding-bottom: 32px;
}

#fetures h6{
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #FFFFFF;
}
 
#fetures .view-btn a{
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #282938;
    background-color: #FCD980;
    border-radius: 41px;
    padding: 16px 48px;
    margin-top: 32px;
} 


#fetures img{
    padding: 128px 0px;
}

.logo-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0px;
}

#benefit .artical-wrapper .img i {
    color: #2405F2;
    font-size: 32px;
}

#benefit h2{
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
    text-align: center;
    width: 630px;
    margin: auto;
    padding-bottom: 48px;
}

#benefit .artical-wrapper{
    background-color: #F4F6FC;
    padding: 50px 32px 48px 48px;
    margin-bottom: 128px;
}

#benefit .artical-wrapper h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    padding-top: 26px;
    padding-bottom: 12px;
}

#benefit .artical-wrapper h6{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
}

#client{
    padding: 128px 0px;
    background-color: #FFFFFF;
}


#client .img img{
float: right;
}  

#client h5{
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #000000;
    padding-top: 41px;
}

#client h2{
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #232536;
    padding: 16px 0px;
    width: 624px;
}

#client h6{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    width: 622px;
}

#revision{
    padding: 128px 0px;
    background-color: rgb(252, 217, 128,10%);
}

/* #revision .img img{
    width: 100%;
}  */

#revision h5{
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #000000;
    padding-top: 41px;
}

#revision h2{
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #232536;
    padding: 16px 0px;
    width: 624px;
}

#revision h6{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    width: 622px;
}



#faq{
    padding: 128px 0px;
}

.faq-left h3{
    font-size: 38px;
    line-height: 56px;
    font-weight: 500;
    color: #282938;
}

.faq-left h5{
    font-size: 18px;
    line-height: 32x;
    font-weight: 500;
    color: #2405F2;
    margin-top: 16px;
}


#footer {
    background-color: #1C1E53;
    padding-top: 96px;
}

#footer .left-text h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 86px;
}

#footer .talk h2 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #FFFFFF;
}

#footer .talk h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #F4F6FC;
    padding-top: 14px;
    padding-bottom: 28px;
}

#footer .social-media {
    display: flex;
}

#footer .social-media .smdedia {
    color: #fff;
    font-size: 16px;
    margin-right: 27px;
}

#footer .email-call-wrapper {
    display: flex;
    position: relative;
    padding: 18px 137px 16px 38px;
    z-index: 1;
}

#footer .email-call-wrapper::after {
    content: '';
    position: absolute;
    background-color: #FCD980;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#footer .footer-email h3 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #282938;
}

#footer .footer-email h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
}

#footer .footer-call {
    margin-left: 30px;
}

#footer .footer-call h3 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #282938;
}

#footer .footer-call h6 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
}

#copyright h3 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    padding: 32px 0px;
}

#copyright .footer-ul ul {
    display: flex;
    padding: 32px 0px;
}


#copyright .footer-ul ul li {
    padding-left: 30px;
}

#copyright .footer-ul ul li a {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
}